---
import Button from '../components/atoms/Button.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Neno | Front-End Engineering & Web Development">
	<Button color="primary">
		Find more about us
	</Button>
	<Button>
		Find more about us
	</Button>
</Layout>