---
import Button from '../components/atoms/Button.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
<Button class="ga-btn-primary">
	Find more about us
</Button>
</Layout>

<style>

	
</style>
