---
import Bullet from "./Bullet.astro";


---

<ol class="gm-bullet-list">
  <li>
    <button class="gm-bullet-list__btn">
    <Bullet width="30" height="30"/>
    </button>
  </li>
  <li>
    <button class="gm-bullet-list__btn">
    <Bullet  width="30" height="30"/>
    </button>
  </li>
  <li>
    <button class="gm-bullet-list__btn">
    <Bullet  width="30" height="30"/>
    </button>
  </li>
  <li>
    <button class="gm-bullet-list__btn">
    <Bullet  width="30" height="30"/>
    </button>
  </li>
</ol>

<style>
  .gm-bullet-list {
    display: flex;
  }
  .gm-bullet-list__btn {
  }
</style>