---
import RightArrow from "../Icons/RightArrow.astro";
const {class:className, type, href,} = Astro.props;
const Element = href ? "a" : "button"
---

<Element class:list={[className,"ga-btn"]} type={type} href={href}>
    <slot /> 
    <div class="ga-btn__icon">
      <RightArrow width="15" height="15"/>
    </div>
</Element>

<style>
  .ga-btn {
    display: flex;
    align-items: center;
    gap: 6.25rem;
    color:#fff;
    border-radius: 50px;
    border: none;
    font-size: 1.25rem;
    padding: 0.625rem 0.625rem 0.625rem 1.9rem;
  }
  
  .ga-btn-primary {
    background-color: #D51E2D;
  }
  .ga-btn-secondary {
    background-color: #20262E;
  }

  .ga-btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    border: solid white 2px;
  }
  .ga-btn__icon:hover {
    background-color: #2DA0AB;
  }
</style>