---
import RightArrow from "../Icons/RightArrow.astro";
const {class:className, type, href,} = Astro.props;
const Element = href ? "a" : "button"
---

<Element class:list={[className,"ga-btn"]} type={type} href={href}>
  <slot /> 
  <div class="ga-btn__icon">
    <RightArrow width="16" height="16"/>
  </div>
</Element>

<style>
  .ga-btn {
    display: flex;
    height: 3.625rem;
    align-items: center;
    gap: 3rem;
    color: #fff;
    font-weight: 700;
    border-radius: 3.125rem;
    border: none;
    font-size: 1.25rem;
    padding: 0.6875rem 1.25rem 0.6875rem 1.875rem;
    box-shadow: rgba(51,51,51,0.2) 0 0.25rem 0;
  }
  
  .ga-btn-primary {
    background-color: #D51E2D;
  }
  .ga-btn-secondary {
    background-color: #20262E;
  }
  
  .ga-btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    border: solid white 0.125rem;
  }
  .ga-btn__icon:hover {
    background-color: #2DA0AB;
  }
</style>