---
const {href, icon, label} = Astro.props;
const Icon = icon;
---

<a class="ga-contact-link" href={href}>
  <span class="ga-contact-link__icon">
    <Icon width="40" height="40" />
  </span>
  {label}
</a>

<style>
  .ga-contact-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 700;
  }

  .ga-contact-link__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-primary);
    margin-bottom: 1rem;
  }
</style>