---
const {title} = Astro.props
---
<span class="ga-tag">{title}</span>

<style>
  .ga-tag {
    color: var(--color-primary);
    padding: 0.313rem 0.938rem;
    border: solid 0.063rem var(--color-primary);
    border-radius: 3.125rem;
    font-size: 0.875rem;
  }
</style>