---
import { Image } from 'astro:assets';
import BackgroundImg from '../../images/hero-bg.jpg'
import Container from '../layouts/Container.astro';
import Button from '../atoms/Button.astro';
---
<Image src={BackgroundImg} alt="background image" />
<Container class="gm-hero__container">
  <Button class="ga-btn-primary">
    Find more about us
  </Button>
</Container>
