---
import Hamburger from "../Icons/Hamburger.astro";
const {href} = Astro.props;

---

<a class="gm-nav-toggler" href="/">
  <Hamburger width="16" height="16"/>
</a>

<style>
.gm-nav-toggler {
  display: flex;
  padding: 0.25rem;
  border-radius: 3.125rem;
  background-color: #20262e;
}
</style>