---
import Hamburger from "../Icons/Hamburger.astro";
---

<button class="gm-nav-toggler">
  <Hamburger width="16" height="16"/>
</button>

<style>
.gm-nav-toggler {
  display: flex;
  padding: 0.25rem;
  border-radius: 3.125rem;
  background-color: #20262e;
}

.gm-nav-toggler:hover {
background-color: #D51E2D;
}
</style>