---
import DlList from "../atoms/DlList.astro";
---
<article class="gm-project">
  <h3 class="gu-display-lg gm-project-title">Swiss.com</h3>
  <DlList />
  <p class="gm-project-copy">Hinderling Volkart invited us to support them in the frontend development of the new swiss.com website. We're grateful and proud to have been involved in such a large and successful project. Our team helped create the base of the frontend process of this responsive redesign. We worked on the frontend engineering, using HTML and CSS. </p>
</article>

<style>
  .gm-project {
    max-width: 33.5rem;
  }
  .gm-project-copy {
    margin-top: 1.25rem;
  }
  .gm-project-title {
    color: var(--color-gray-900);
  } 
</style>