<div class="gm-step">
  <div class="gm-step__info">
    <div class="gm-step__number">
      <span>1</span>
    </div>
    <h2 class="gm-step__title">Clients</h2>
  </div>
</div>

<style>
  .gm-step {
    display: flex;

  }
  .gm-step__number span {
    position: absolute;
    font-size: 2.125rem;
    top: 0.5rem;
    left: 1.25rem;
  }
  .gm-step__number {
    position: relative;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1.875rem;
    border-radius: 3.125rem;
  }
  .gm-step__title {
    font-size: 2.625rem;
  }
</style>