---
import Container from "../layouts/Container.astro";
import Button from "../atoms/Button.astro";
import Section from "../layouts/Section.astro";
---

<Section as="div" class="go-about">
  <Container class="gu-text-center">
    <div class="go-about__grid">
      <section>
        <h2 class="gu-display-2xl">Who we are</h2>
        <p class="go-about__copy">
          An energetic team of six professionals who consider programming more than
          pure code writing. For us, coding is a constant challenge of finding perfect
          solutions for our clients' needs - a constant strive for new knowledge and
          creativity in creating cleaner, better and more efficient code.
        </p>
      </section>
      <section>
        <h2 class="gu-display-2xl">What we offer</h2>
        <p class="go-about__copy">
          An agile, flexible and reliable service devoted to producing high-quality
          solutions and meeting our deadlines through personalized service, clear
          communications, persistence and efficient management.
        </p>
      </section>
    </div>
    <Button type="button" color="secondary" class="go-about__button" href="#our-experties">
        Find out about our expertise
    </Button>
  </Container>
</Section>

<style>
  .go-about {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 6.25rem 0;
  }

  .go-about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    text-align: left;
  }

  .go-about__copy { margin-top: 2.9rem; }
  .go-about__button { margin-top: 5rem; }
</style>