---
import Container from "../layouts/Container.astro";
---

<section>
  <Container>
    <h2>Who we are</h2>
    <p>
      An energetic team of six professionals who consider programming more than
      pure code writing. For us, coding is a constant challenge of finding perfect
      solutions for our clients' needs - a constant strive for new knowledge and
      creativity in creating cleaner, better and more efficient code.
    </p>
    <h2>What we offer</h2>
    <p>
      An agile, flexible and reliable service devoted to producing high-quality
      solutions and meeting our deadlines through personalized service, clear
      communications, persistence and efficient management.
    </p>
  </Container>
</section>