---
import Container from "../layouts/Container.astro";
import Button from "../atoms/Button.astro";
import Section from "../layouts/Section.astro";
import ContactList from "../molecules/ContactList.astro";
---

<Section class="go-contact">
  <Container class="gu-text-center">
    <h2 class="gu-display-2xl go-work__title">Get in touch</h2>
    <p class="go-contact__subline">
      Are you ready to work together and create a top notch
      web solution for your project? We are. Contact us now.
    </p>
    <ContactList class="go-contact__list" />
  </Container>
</Section>

<style>
  .go-contact {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 6.25rem 0;
  }

  .go-contact__subline {
    margin: 1.5rem auto 0;
    max-width: 45ch;
  }

  .go-contact__list {
    margin-top: 5rem;
  }
</style>