---
import Container from "../layouts/Container.astro";
---
<footer class="go-footer">
  <Container>
    <p class="go-footer__container">
      Copyright © 2014 neno — coding your designs since&nbsp;2003
    </p>
  </Container>
</footer>

<style>
  .go-footer {
    background: var(--color-secondary);
    padding: 3.75rem 0;
    color: var(--color-white);
  }

  .go-footer__container {
    text-align: center;
    font-size: 0.875rem;
  }
</style>