---
import { Image } from 'astro:assets';
import Container from "../layouts/Container.astro";
import Logo from "../../images/logo.svg"
import NavToggler from '../molecules/NavToggler.astro';


---
<header class="go-header">
  <Container class="go-header__container display-3xl">
    <a href="/">
      <Image src={Logo} alt='logo' width="80" height="24" />
    </a>
    <NavToggler />
  </Container>
</header>

<style>
  .go-header {
    background-color: #F8F8F8;
    padding: 1.25rem 0;
  }
  .go-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
