---
import Button from "../atoms/Button.astro";
import Container from "../layouts/Container.astro";
import Section from "../layouts/Section.astro";

---

<Section class="go-expertise">
  <Container>
    <h2 class="gu-display-2xl go-expertise__title">Our expertise</h2>
    <ul class="go-expertise__grid">
      <li class="go-expertise__grid-item">
        <p class="go-expertise__skill">Modular front-end development for optimal CMS integration.</p>
      </li>
      <li class="go-expertise__grid-item">
        <p class="go-expertise__skill">Responsive solutions for the mobile web.</p>
      </li>
      <li class="go-expertise__grid-item">
        <p class="go-expertise__skill">Rich internet applications with Backbone.js, AngularJS and Node.js.</p>
      </li>
      <li class="go-expertise__grid-item">
        <p class="go-expertise__skill">On the Edge with HTML5, CSS3, JavaScript, HAML, SASS, CoffeeScript.</p>
      </li>
      <li class="go-expertise__grid-item">
        <p class="go-expertise__skill">Robust code for browser and platform compatibility.</p>
      </li>
      <li class="go-expertise__grid-item">
        <p class="go-expertise__skill">Web Accessibility according to WCAG 2.0.</p>
      </li>
    </ul>
    <Button class="go-expertise__btn" color="primary" type="button" href="#our-workflow">
      See our workflow next
    </Button>
  </Container>
</Section>

<style>
  .go-expertise {
    background-color: var(--color-secondary);
    text-align: center;
  }

  .go-expertise__title {color: var(--color-white);}

  .go-expertise__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(351px, 100%), 1fr));
    margin-top: 5rem;
  }

  .go-expertise__grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    color: var(--color-white);
  }

  .go-expertise__grid-item:nth-child(1) {background-color: #405F8B;}
  .go-expertise__grid-item:nth-child(2) {background-color: #EA9631;}
  .go-expertise__grid-item:nth-child(3) {background-color: #51A98A;}
  .go-expertise__grid-item:nth-child(4) {background-color: #DA5645;}
  .go-expertise__grid-item:nth-child(5) {background-color: #4FA5E8;}
  .go-expertise__grid-item:nth-child(6) {background-color: #6B939B;}

  .go-expertise__skill {
    max-width: 35ch;
    font-size: 1.5rem;
  }

  .go-expertise__btn {margin-top: 5rem;}
</style>