---
import Container from "../layouts/Container.astro";

---

<section class="go-expertise">
  <Container>
    <h2 class="gu-display-2xl go-expertise__title">Our expertise</h2>
    <ul class="go-expertise__grid">
      <li class="go_expertise__grid-item gu-display-lg">Modular front-end development for optimal CMS integration. </li>
      <li class="go_expertise__grid-item gu-display-lg">Responsive solutions for the mobile web.</li>
      <li class="go_expertise__grid-item gu-display-lg">Rich internet applications with Backbone.js, AngularJS and Node.js. </li>
      <li class="go_expertise__grid-item gu-display-lg">On the Edge with HTML5, CSS3, JavaScript, HAML, SASS, CoffeeScript.</li>
      <li class="go_expertise__grid-item gu-display-lg">Robust code for browser and platform compatibility.</li>
      <li class="go_expertise__grid-item gu-display-lg">Web Accessibility according to WCAG 2.0. </li>
    </ul>
  </Container>
</section>

<style>
  .go-expertise {
    background-color: var(--color-secondary);
    padding: 6.25rem 0;
  }
  .go-expertise__title {
    text-align: center;
    color: var(--color-white);
  }
  .go-expertise__grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
  }
  .go_expertise__grid-item {
    max-width: 22.978rem;
    color: var(--color-white);
  }
  .go_expertise__grid-item:nth-child(1) {
    background-color: #405F8B;
  }
  .go_expertise__grid-item:nth-child(2) {
    background-color: #EA9631;
  }
  .go_expertise__grid-item:nth-child(3) {
    background-color: #51A98A;
  }
  .go_expertise__grid-item:nth-child(4) {
    background-color: #DA5645;
  }
  .go_expertise__grid-item:nth-child(5) {
    background-color: #4FA5E8;
  }
  .go_expertise__grid-item:nth-child(6) {
    background-color: #6B939B;
  }
</style>