---
import Container from "../layouts/Container.astro";
import Section from "../layouts/Section.astro";
import Step from "../molecules/Step.astro";

---

<Section class="go-steps">
  <Container>
    <Step />
  </Container>
</Section>

<style>
  .go-steps__left {

  }
</style>